@media screen and (min-width:768px){
    .wrap {
        padding-top: 72px;
    }
    .header {
        height : 72px;
    }
    .headerin {
        height: 72px;
    }
    .header .logo {
        width: 195px;
        height: auto;
    }
    .header .open_menu {
        width: 32px;
        margin-right: 18px;
    }
 
.section1 ul.slick-dots {
    position: absolute;
    left: 0;
    bottom : 1.5%;
    width: 100%;
    text-align: center;
}
.section1 ul.slick-dots li {
    display: inline-block;    
    margin : 0 4px;
}
.section1 ul.slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border : 1px solid #ddd;
    text-indent: -98798798px;
    background-color: #ccc;
    cursor : pointer;
}
    .menu .menu_list ul {
        margin : 0 50px;
    }
    .menu .menu_list ul li a {
        height: 250px;
        padding : 20px 30px;
    }
    .menu .menu_list ul li a .menu_name{
        font-size: 19px;
        margin-bottom: 13px;
        font-weight: 700;
    }
    .menu .menu_list ul li a .menu_text1 {
        font-size: 15px;
        margin-bottom: 15px;
        line-height: 20px;
    }
    .menu .menu_list ul li a .btn_more {
        width: 30px;
    }
    .menu .menu_list .menu_r1 {
        right: 33px;
        bottom : 27px
    }
    .menu .menu_list .menu_r2 {
        right: 33px;
        bottom: 27px;
    }
    .menu .menu_list .menu_r3 {
        right: 8px;
        bottom: 25px;
    }
    .menu .menu_list .menu_r4 {
        right: 20px;
        bottom : 25px;
    }
    .menu .menu_list .menu_r1 .menu_img_mo,
    .menu .menu_list .menu_r2 .menu_img_mo,
    .menu .menu_list .menu_r3 .menu_img_mo,
    .menu .menu_list .menu_r4 .menu_img_mo {
        display: none;
    }
    .menu .menu_list .menu_r1 .menu_img_pc{
        display: block;
        width: 85px;
        height: auto;
    }
    .menu .menu_list .menu_r2 .menu_img_pc{
        display: block;
        width: 73px;
        height: auto;
    }
    .menu .menu_list .menu_r3 .menu_img_pc {
        display: block;
        width: 180px;
        height: auto;
    }
    .menu .menu_list .menu_r4 .menu_img_pc{
        display: block;
        width: 120px;
        height: auto;
    }
    .band_bn1_mo {
        background-image: url(../img/band_bn1_ta.jpg);
    }
    .s_login {
        height: 72px;
        background-color: #55565a;
    }
    .s_login a {
        line-height: 72px;
    }
}
@media screen and (min-width:1260px) {
    .wrap {
        padding-top: 90px;
    }
    /*헤더 시작*/
    .header {
        height: 90px;
        position: fixed;
        top: 0;
        left: 0;
        z-index : 500;
    }
    .headerin {
        width : 1224px;
        height: 90px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index : 1;
    }
    .header .logo  {
        width: 234px;
        height: auto;
        margin : 0;
    }
    .header .logo .logo_mo {
        display: none;
    }
    .header .logo .logo_pc {
        display: block;
    }
    .open_menu {
        display: none;
    }
    .header .pc_gnb {
        display: block;
        position: absolute;
        top : 45px;
        right: 0;
        overflow : hidden;
    }
    .header .pc_gnb>ul {
        display: flex;
    }
    .header .pc_gnb .d1 {
        position: relative;
    }
    .header .pc_gnb .d1 .m1 {
        display: block;
        padding : 12px 40px;
        color : #333;
        font-weight: 700;
        font-size: 17px;
    }
    .header .pc_gnb .d1 .m1:after {
        display:block;
        content: '';
        padding-top: 4px;
        border-bottom: solid 3px #121212;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
    }
    .header .pc_gnb .d1:hover .m1:after{
        transform: scaleX(1)
    }
    .header .pc_gnb .sub {
        position: absolute;
        top : 50px;
        left : 0;
        width: 100%;
    }
    .header .pc_gnb .d1 .sub ul {
        padding-top : 5px;
        padding-left: 40px;
    }
    .header .pc_gnb .sub a {
        display: block;
        padding : 6px 0;
        font-size: 15px;
        color : #ddd;
    }
    .header .pc_gnb .sub a:hover {
        color : #ca113a;
    }
    .header .pc_utill {
        display: block;
        position: absolute;
        top : 10px;
        right: 40px;
    }
    .header .pc_utill ul {
        display : flex;
    }
    .header .pc_utill ul li {
        margin-left: 30px;
    }
    .header .pc_utill ul li a {
        color : #555;
        font-size: 13px;
    }
    .header .pc_utill ul li a:hover {
        color : #222;
    }
    /*헤더 끝*/
    /*본문 1 시작*/
    #container .b1img .pc {
        display: block;
        width: auto;
        height: 100%;
    }
    .section1 {
        width: 100%;
        height: 700px;
        position: relative;
        margin-bottom: 100px;
        overflow: hidden;
    }
    .b1box {
        height: 700px;
        position: relative;
        overflow: hidden;
    }
    .b1box a {
        display: block;
        position: absolute;
        top: 0;
        left : 50%;
        margin-left: -960px;
    }
    .b1box a img {
        height: 700px;
    }

    .b1img .mo {
        display: none;
    }
    .b1img .pc {
        display: block;
    }
    .section1 ul.slick-dots {
    position: absolute;
    left: 0;
    bottom : 3px;
    width: 100%;
    text-align: center;
}
.section1 ul.slick-dots li {
    display: inline-block;    
    margin : 0 4px;
}
.section1 ul.slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border : 1px solid #ddd;
    text-indent: -98798798px;
    background-color: #ccc;
    cursor : pointer;
}
    /*본문 1 끝*/
    /*본문 2 시작*/
    .section2 {
        padding-bottom: 100px;
    }
    .section2_in {
        width: 1224px;
        margin-left : auto;
        margin-right: auto;
    }
    .menu h2 {
        font-size: 33px;
        margin-bottom: 50px;
    }
    .menu .menu_list ul {
        margin : 0;
    }
    .menu .menu_list ul .list1{
        margin-right: 12px;
        margin-bottom: 24px;
    }
    .menu .menu_list ul .list3 {
        margin-right: 12px;
    } 
    .menu .menu_list ul .list2,
    .menu .menu_list ul .list4 {
        margin-left: 12px;
    }
    .menu .menu_list ul li a{
        height: 360px;
        border-radius: 55px;
        padding : 60px 60px;
    }
    .menu .menu_list ul li a .menu_name {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .menu .menu_list ul li a .menu_text1 {
        display: none;
    }
    .menu .menu_list ul li a .menu_text2 {
        display: block;
        font-size: 18px;
        margin-bottom: 30px;
        line-height: 25px;
    }
    .menu .menu_list ul li a .btn_more {
        width: 50px;
        position: relative;
    }
    .menu .menu_list ul li a .btn_more img {
        width: 100%;
        position: absolute;
        top: 0;
        left : 0;
    }
    .menu .menu_list ul li a .btn_more .r_arrow {
        display: block;
    }
    .menu .menu_list ul li a .btn_more > .r_arrow {
        opacity: 0;
        transition: opacity 1s;
    }
    .menu .menu_list ul li a .btn_more > .plus {
        opacity: 1;
        transition: opacity 1s;
    }
    .menu .menu_list ul li a .btn_more:hover > .r_arrow {
        opacity: 1;
    }
    .menu .menu_list ul li a .btn_more:hover > .plus {
        opacity : 0;
        
    }
    .menu .menu_list .menu_r1 {
        right: 73px;
        bottom : 47px
    }
    .menu .menu_list .menu_r2 {
        right: 70px;
        bottom: 47px;
    }
    .menu .menu_list .menu_r3 {
        right: 28px;
        bottom: 45px;
    }
    .menu .menu_list .menu_r4 {
        right: 40px;
        bottom : 45px;
    }
    .menu .menu_list .menu_r1 .menu_img_pc{
        width: 105px;
        height: auto;
    }
    .menu .menu_list .menu_r2 .menu_img_pc{
        width: 94px;
        height: auto;
    }
    .menu .menu_list .menu_r3 .menu_img_pc{
        width: 272px;
        height: auto;
    }
    .menu .menu_list .menu_r4 .menu_img_pc {
        width: 173px;
        height: auto;
        
    }
    /*본문 2 끝*/
    /*본문 3 시작*/
    .band_bn1_mo {
        display: none;
    }
    .band_bn1_pc {
        display: block;
        position: relative;
        width: 100%;
        height: 456px;
        background-image: url("../img/band_bn1_pc.jpg");
        background-repeat: no-repeat;
        background-position: center;
    }
    .band_bn1_pc .bn_text {
        padding : 112px 0;
        position: absolute;
        top : 0;
        right: 50%;
        margin-right: -520px;
    }
    .band_bn1_pc .bn_text .text1 {
        font-size: 30px;
        font-weight: 700;
        color : #E7DAC4;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .band_bn1_pc .bn_text .text2 {
        font-size: 17px;
        font-weight: 400;
        color : #E7DAC4;
        line-height: 23px;
        margin-bottom: 20px;
    }
    .band_bn1_pc .bn_text .btn_group {
        display: flex;
    }
    .band_bn1_pc .bn_text .btn_group div a {
        position: relative;
        display: block;
        width: 100px;
        height: 35px;
        border : 1px solid #E7DAC4;
        line-height: 33px;
        text-align: center;
        border-radius: 5px;
        overflow:hidden;
    }
    .band_bn1_pc .bn_text .btn_group div a span {
        color : #E7DAC4;
        position: relative;
        z-index: 1;
        transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
    }
    .band_bn1_pc .bn_text .btn_group div a::before{
        content: '';;
        position: absolute;
        top: 50%;
        left: 0;
        border-radius: 5px;
        transform: translate(-101%, -50%);
        width: 100px;
        height: 35px;
        background-color: #E7DAC4;
        transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);;
    }
    .band_bn1_pc .bn_text .btn_group div a:hover span {
        color : #111;
    }
    .band_bn1_pc .bn_text .btn_group div a:hover::before{
        transform: translate(0, -50%);
    }
    .band_bn1_pc .bn_text .btn_group div:nth-child(2) {
        margin : 0 10px;
    }
    .band_bn2_mo {
        display: none;
    }
    .band_bn2_pc {
        display: block;
        position: relative;
        width: 100%;
        height: 400px;
        background-image: url("../img/band_bn2_pc.jpg");
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 100px;
    }
    .band_bn2_pc .bn_text {
        padding : 91px 0;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -520px;
    }
    .band_bn2_pc .bn_text .text1 {
        font-size: 30px;
        font-weight: 700;
        color : #fefefe;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .band_bn2_pc .bn_text .text2 {
        font-size: 17px;
        font-weight: 400;
        line-height: 23px;
        color : rgba(255,255,255,0.9);
        margin-bottom: 20px;
    }
    .band_bn2_pc .bn_text .bn_btn a{
        position: relative;
        display: block;
        width: 100px;
        height: 35px;
        line-height: 33px;
        text-align: center;
        border : 1px solid #fefefe;
        color : #fefefe;
        border-radius: 5px;
        overflow: hidden;
    }
    .band_bn2_pc .bn_text .bn_btn a span{
        color : #fefefe;
        position: relative;
        z-index: 1;
        transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
    }
    .band_bn2_pc .bn_text .bn_btn a::before{
        content: '';;
        position: absolute;
        top: 50%;
        left: 0;
        border-radius: 6px;
        transform: translate(-101%, -50%);
        width: 100px;
        height: 35px;
        background-color: #fefefe;
        transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
    }
    .band_bn2_pc .bn_text .bn_btn a:hover span {
        color : #111;
        
    }
    .band_bn2_pc .bn_text .bn_btn a:hover::before{
        transform: translate(0, -50%);
    }
    /*본문 3 끝*/
    /*본문 4 시작*/
    .section4 {
        margin-bottom: 100px;
    }
    .sns h2 {
        font-size: 35px;
        margin-bottom: 50px;
    }
    .sns ul li:nth-child(2){
        margin: 0 100px;
    }
    .sns ul li a {
        display: block;
        width: 32px;
    }
    .sns ul li a .sns_mo {
        display: none;
    }
    .sns ul li a .sns_pc {
        display: block;
    }
    /*본문 4 끝*/
    /*푸터 시작*/
    .footer .f_menu ul li{
        margin : 0 42px;
    }
    .footer .f_menu ul li a {
        font-size: 16px;
    }
    .footer .f_logo {
        margin : 34px auto;
        width: 524px;
    }
    .footer .info {
        font-size: 14px;
    }
    /*푸터 끝*/
}