* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
img, video {
    vertical-align: top;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color : #121212;
}
.wrap {
    width: 100%;
    min-width: 320px;
    margin : 0 auto;
    padding-top : 64px;
}
.header {
    width: 100%;
    height: 64px;
    position: fixed;
    background-color: #fff;
    top : 0;
    left : 0;
    z-index: 100000;
}
.headerin {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    margin-top: 5px;
    margin-left: 18px;
    width: 120px;
}
.header .logo .logo_pc {
    display: none;
}
.header .logo a img{
    width: 100%;
    height: auto;
}
.header .pc_gnb {
    display: none;
}
.header .pc_utill {
    display : none;
}
.header .open_menu {
    width: 24px;
    margin-right: 18px;
}
.header .open_menu a img{
    width: 100%;
    height: auto;
}
.subBg {
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 230px;
    background-color: rgb(254, 254, 254);
}
#container img {
    width: 100%;
    height: auto;
}
.section1{
    margin-bottom: 30px;
}
.b1img {
    position: relative;
}
.b1img .pc {
    display: none;
}
    .section1 ul.slick-dots {
    position: absolute;
    left: 0;
    bottom : 3px;
    width: 100%;
    text-align: center;
}
.section1 ul.slick-dots li {
    display: inline-block;    
    margin : 0 4px;
}
.section1 ul.slick-dots li button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border : 1px solid #ddd;
    text-indent: -98798798px;
    background-color: #ccc;
    cursor : pointer;
}
.section1 ul.slick-dots li.slick-active button {
    background-color: #55565a;
    border-color: #e795a7;
}
.section2 {
    position: relative;
    padding-bottom: 30px;
}
.menu_bg {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    left: 0;
    background-color: #F4E9DF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.menu {
    position: relative;
}
.menu h2 {
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin-bottom: 20px;
}
.menu .menu_list ul  {
    display: flex;
    margin : 0 14px;
}
.menu .menu_list ul li {
    width: 50%;
}
.menu .menu_list ul .list1  {
    margin-right: 7px;
    margin-bottom: 14px;
}
.menu .menu_list ul .list2  {
    margin-left: 7px;
}
.menu .menu_list ul .list3  {
    margin-right: 7px;
}
.menu .menu_list ul .list4  {
    margin-left: 7px;
}
.menu .menu_list ul li a {
    display: block;
    background-color: #806751;
    border-radius: 24px;
    color : #fefefe;
    padding : 13px 16px;
    height: 188.16px;
    position: relative;
}
.menu .menu_list ul .list2 a {
    background-color: #e98b51;
}
.menu .menu_list ul .list3 a{
    background-color: #c68e69;
}
.menu .menu_list ul .list4 a {
    background-color: #EBBC9E;
}
.menu .menu_list ul li a .menu_name {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 700;
}
.menu .menu_list ul li a .menu_text1 {
    font-size: 13px;
    margin-bottom: 15px;
    line-height: 16px;
}
.menu .menu_list ul li a .menu_text2 {
    display: none;
}
.menu .menu_list ul li a .btn_more {
    width: 25px;
}
.menu .menu_list ul li a .btn_more img {
    width: 100%;
}
.menu .menu_list ul li a .btn_more .r_arrow {
    display: none;
}
.menu .menu_list .menu_r1,
.menu .menu_list .menu_r2,
.menu .menu_list .menu_r3,
.menu .menu_list .menu_r4{
    position: absolute;
    right: 20px;
    bottom : 20px;
}

.menu .menu_list .menu_r1 .menu_img_pc,
.menu .menu_list .menu_r2 .menu_img_pc,
.menu .menu_list .menu_r3 .menu_img_pc,
.menu .menu_list .menu_r4 .menu_img_pc {
    display: none;
}
.band_bn1_mo {
    position: relative;
    width: 100%;
    background-image: url("../img/band_banner1_mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 220px;
    background-position: center;
}
.band_bn1_mo .bn_text {
    width: 100%;
    padding-top: 95px;
}
.band_bn1_mo .bn_text .text1 {
    text-align: center;
    font-size: 18px;
    color : #fefefe;
    margin-bottom: 20px;
}
.band_bn1_mo .bn_text .text2 {
    text-align: center;
    font-size: 13px;
    color : #fefefe;
    margin-bottom: 20px;
}
.band_bn1_mo .bn_text .bn_btn { 
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.band_bn1_mo .bn_text .bn_btn a{
    text-align: center;
    color : #fefefe;
    font-size: 12px;
    display: block;
    width: 52%;
    padding : 4px 0;
    border : 1px solid #fefefe;
    border-radius: 5px;
}
.band_bn1_pc {
    display: none;
}
.band_bn2_mo {
    position: relative;
    width: 100%;
    background-image: url("../img/band_banner2_mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 250px;
    background-position: bottom;
    margin-bottom: 30px;
}
.band_bn2_mo .bn_text {
    width: 100%;
    padding-top: 125px;
}
.band_bn2_mo .bn_text .text1 {
    color : #fefefe;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    margin-bottom: 20px;
}
.band_bn2_mo .bn_text .text2 {
    color : #fefefe;
    font-size: 13px;
    line-height: 22px;
    margin: 0 auto 20px auto ;
    width: 82%;
    text-align: center;
}
.band_bn2_mo .bn_text .bn_btn { 
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.band_bn2_mo .bn_text .bn_btn a{
    text-align: center;
    color : #fefefe;
    font-size: 12px;
    display: block;
    width: 25%;
    padding : 4px 0;
    border : 1px solid #fefefe;
    border-radius: 5px;
}
.band_bn2_pc {
    display: none;
}
.section4 {
    margin-bottom: 30px;
}
.sns {
    width: 100%;
}
.sns h2 {
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin-bottom: 20px;
}
.sns ul {
    display: flex;
    justify-content: center;
}
.sns ul li:nth-child(2) {
    margin : 0 24px
}
.sns ul li a {
    display: block;
    width: 24px;
}
.sns ul li a img {
    width: 100%;
}
.sns ul li a .sns_pc {
    display: none;
}
.footer {
    background-color: #282828;
    text-align: center;
}
.footer .f_menu ul {
    padding : 19px 0;
    border-bottom: solid 1px #464646;
}
.footer .f_menu ul li {
    display: inline-block;
    margin : 3px 19px;
}
.footer .f_menu ul li a {
    color : rgba(255,255,255,0.67);
    font-size: 13px;
}
.footer .f_menu ul .point a {
    color : rgba(255,255,255, 0.9);
}
.footer .f_logo {
    margin: 22px auto;
    width: 262px;
}
.footer .f_logo img {
    width: 100%;
}
.footer .info {
    width: 90%;
    margin : auto;
    color : rgba(255,255,255,0.65);
    font-size: 12px;
    margin-bottom: 10px;
}
.footer .info span {
    padding-right: 5px;
}
.footer .info span::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: rgba(255,255,255,0.6);
    margin-left: 5px;
    margin-top: 6px;
    vertical-align: top;
}
.footer .copyright {
    color : rgba(255,255,255,0.54);
    font-size: 11px;
    padding-bottom: 23px;
}
#side {
    position: fixed;
    top : 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index : 800;
    background-color: #fefefe;
    overflow-y: scroll;
}
.s_login {
    height: 64px;
    background-color: #55565a;
}
.s_login a{
    display: inline-block;
    padding-left: 45px;
    line-height: 64px;
    color : #fefefe;
    font-size: 14px;
    background-image: url(../img/login.png);
    background-repeat: no-repeat;
    background-size: 22px auto;
    background-position: 15px center;
}
.s_logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding : 15px;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
}
.s_logo_img {
    width: 80px;
    height: auto;
}
.s_logo_img img {
    width: 100%;
    height: auto;
}
.s_gnb .d1 {
    border-bottom: 1px solid #ccc;
}
.s_gnb .d1 .m1 {
    display: block;
    padding : 15px;
    font-size: 17px;
    font-weight: 500;
    color : #55565a;
    background-image: url(../img/arr_d01.png);
    background-repeat: no-repeat;
    background-size: 14px auto;
    background-position: right 15px center;
}
.s_gnb .d1 .m1.on {
    background-image: url(../img/arr_u03.png);
    color : #ca113a;
}
.s_gnb .d1 .sub ul {
    border-top: 1px solid #ddd;
    padding : 10px 15px;
}
.s_gnb .d1 .sub ul a {
    display: block;
    padding : 5px 0;
    font-size: 14px;
    color : #444;
}
.s_gnb .d1 .sub ul a:hover {
    color : #ca113a;
}
.s_close {
    position: absolute;
    top: 0;
    right: 0;
}
.s_close a {
    display: block;
    width: 64px;
    height: 64px;
    text-indent: -908798798px;
    background-image: url(../img/close2.png);
    background-size: 24px auto;
    background-repeat: no-repeat;
    background-position: center;
}